extends ../layout

block diagram

    div(class="wrapper-diagram")
        div(class="container")
            div(class="row")
                div(class="col-md-6") #{exercise.title}
                div(class="col-md-6 text-right")
                    button(class="btn btn-sm btn-secondary mr-2" data-toggle="modal" data-target="#text-modal") Ler o texto
                    button(class="btn btn-sm btn-light mr-2" onclick="save()") Salvar como .png
                    button(class="btn btn-sm btn-primary" onclick="generateURL()") Salvar
    div(class="wrapper")
        div(id="nav-actions")
            button(id="pointer" onclick="changeAction('pointer')")
                img(src="/svg/cursor.svg")

            button(id="class" onclick="changeAction('class')")
                img(src="/svg/square.svg")

            button(id="association" onclick="changeAction('association')")
                img(src="/svg/arrow.svg")
  
        div(id="board")

    div(class="modal fade" id="text-modal" tabindex="-1" role="dialog")
        div(class="modal-dialog modal-dialog-centered" role="document")
            div(class="modal-content")
                div(class="modal-header")
                    h5(class="modal-title") #{exercise.title}
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;

                div(class="modal-body") #{exercise.description}

                div(class="modal-footer")
                    button(type="button" class="btn btn-secondary" data-dismiss="modal") Fechar

block scripts
    script(src="/js/jquery.min.js")
    script(src="/p5js/p5.min.js")
    script(src="/diagrams/sketchClass.js")
    script(src="/diagrams/Sys.js")
    script(src="/diagrams/Classe.js")
    script(src="/diagrams/Line.js")