footer
    div(class="container")
        div(class="row")
            div(class="col-md-3")
                p(class="bold") Sobre
                small Software de auxílio para o auxílio no ensino de diagramas da UML, desenvolvido por alunos da Fatec de Ourinhos, no curso de Análise e Desenvolvimento de Sistemas.

            div(class="col-md-3")
                p(class="bold") Opções

            div(class="col-md-6")
                p(class="bold") Teste
                p Testando2