footer(class="mt-4")
    div(class="container")
        div(class="row")
            div(class="col-md-6 offset-md-3")
                a(href="/")
                    img(src="/images/logo.png" alt="Logotipo FAEDU" name="Ferramenta de Auxílio ao Estudo de Diagramas da UML" class="mb-4")

                p(class="mb-0")
                    b Ferramenta de Auxílio ao Estudo de Diagramas da UML
                p(class="mb-0") Software de auxílio para o ensino de diagramas da UML, desenvolvido por alunos da Fatec de Ourinhos como trabalho de graduação do curso de Análise e Desenvolvimento de Sistemas, em 2018.

                a(href="#" id="download-apk") Baixar aplicativo para Android (.apk)
