header
    div(class="container")
        div(class="row")
            div(class="col-md-6")
                nav(class="navbar navbar-expand-lg navbar-light")
                    a(class="navbar-brand" href="/")
                        img(src="/images/logo.png" alt="Logotipo FAEDU" name="Ferramenta de Auxílio ao Estudo de Diagramas da UML")

                    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-top" aria-expanded="false" aria-label="Toggle navigation")
                        span(class="navbar-toggler-icon")
  
                    div(class="collapse navbar-collapse" id="navbar-top")
                        ul(class="navbar-nav")
                            li(class="nav-item active")
                                a(class="nav-link" href="#") Home
                            li(class="nav-item")
                                a(class="nav-link" href="#") Sobre
                            li(class="nav-item")
                                a(class="nav-link" href="#") Como?
                            li(class="nav-item")
                                a(class="nav-link" href="#") Por quê?

            if ! session.isLogged
                div(class="col-md-6 text-right")
                    span(class="mr-3") É estudante?
                    a(href="/usuarios/registrar", class="btn btn-sm btn-primary mr-1") Cadastre-se
                    a(href="/login", class="btn btn-sm btn-secondary") Login

if session.isLogged
    div(class="wrapper-logged")
        div(class="container")
            div(class="row")
                div(class="col-md-6")
                    p(class="mb-0") Olá, #{session.name}.
                    p(class="mb-0") #{session.email}
                div(class="col-md-6")                
                    nav(class="navbar navbar-expand-lg navbar-light")
                        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-logged" aria-expanded="false" aria-label="Toggle navigation")
                            span(class="navbar-toggler-icon")
    
                        div(class="collapse navbar-collapse" id="navbar-logged")
                            ul(class="navbar-nav ml-auto")

                                if session.level == 2
                                    li(class="nav-item")
                                        a(class="nav-link" href="/admin/painel") Início
                                    li(class="nav-item")
                                        a(class="nav-link" href="/admin/professores") Professores

                                if session.level == 3
                                    li(class="nav-item")
                                        a(class="nav-link" href="/submissoes") Suas submissões
                                    li(class="nav-item")
                                        a(class="nav-link" href="/professores") Resolver um exercício
                        a(class="btn btn-sm btn-primary" href="/logout") Logout
