header
    div(class="container")
        div(class="row")
            div(class="col-md-6")
                a(href="/")
                    img(src="/images/logo.png" alt="Logotipo FAEDU" name="Ferramenta de Auxílio ao Estudo de Diagramas da UML")
            div(class="col-md-6 text-right")

                if session.isLogged

                    span(class="pr-4") Olá, 
                        b !{session.nome}.
                    a(href="/logout", class="btn btn-sm btn-danger") Logout
                else
                    span É estudante?
                    a(href="/usuarios/registrar", class="btn btn-sm btn-primary mr-1") Cadastre-se
                    a(href="/login", class="btn btn-sm btn-secondary") Login

        if session.isLogged
            div(class="row")
                div(class="col-md-12")
                    ul(class="nav nav-justified")
                        li(class="active")
                            a(href="/") Home
                        li
                            a(href="/exercicios") Seus exercícios
                        li
                            a(href="/resolver") Realizar um exercício