extends ../layout

block content
    div(class="container pt-4 pb-4")
        h1 Cadastro de Exercício
    
        form( method="POST", action="/exercicios/cadastrar", role="form")
            div(class="form-group")
                label Título
                input(type="text", class="form-control", name="titulo", value="#{ exercicio.nome || ''}", placeholder="Digite o título...", autofocus, required )

                label Descrição
                textarea(class="form-control", name="descricao", value="#{ exercicio.descricao || ''}", placeholder="Digite a descrição...", autofocus, required )

            button(type="submit", class="btn btn-success") Salvar