extends ../layout

block content
	div(class="container")
		div(class="row pt-4 pb-4")
			if errors.length > 0
				div(class="col-md-6 text-center")
					p Encontramos algumas diferenças comparadas ao diagrama feito pelo professor. Todavia, pode ser que seu diagrama não esteja errado. Portanto, verifique melhor na aba de correção.

				div(class="col-md-6 text-center")
					button(class="btn btn-lg btn-secondary mt-3" data-toggle="modal" data-target="#correction-modal") Ver pontos da correção
			else
				div(class="col-md-6 offset-md-3 text-center")
					p(class="mb-0") O seu diagrama está correto!
					p(class="mb-0") Verifique na aba de correção o diagrama feito pelo professor.

		div(class="row")
			ul(class="nav nav-tabs m-auto" id="myTab" role="tablist")
				li(class="nav-item")
					a(class="nav-link active" id="home-tab" data-toggle="tab" href="#submissao" role="tab" aria-controls="home" aria-selected="true") Submissão
				li(class="nav-item")
					a(class="nav-link" id="home-tab" data-toggle="tab" href="#correcao" role="tab" aria-controls="profile" aria-selected="true") Correção
		
		div(class="row")
			div(class="tab-content" id="myTabContent")
				div(class="tab-pane fade show active" id="submissao" role="tabpanel" aria-labelledby="home-tab")
					div(id="board-submit")
				div(class="tab-pane fade" id="correcao" role="tabpanel" aria-labelledby="profile-tab")
					div(id="board-correction")

	if errors.length > 0
		div(class="modal fade" id="correction-modal" tabindex="-1" role="dialog")
			div(class="modal-dialog modal-dialog-centered" role="document")
				div(class="modal-content")
					div(class="modal-header")
						h5(class="modal-title") Correção
						button(type="button" class="close" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") &times;

					div(class="modal-body")
						each error in errors
							p(class="text-danger font-weight-bold") #{error}

					div(class="modal-footer")
						button(type="button" class="btn btn-secondary" data-dismiss="modal") Fechar

block scripts
	script(src="/js/jquery.min.js")
	script(src="/p5js/p5.min.js")
	script(src="/diagrams/correction.js")
	script(src="/diagrams/Actor.js")
	script(src="/diagrams/Annotation.js")
	script(src="/diagrams/Association.js")
	script(src="/diagrams/Extend.js")
	script(src="/diagrams/Generalization.js")
	script(src="/diagrams/Include.js")
	script(src="/diagrams/Sys.js")
	script(src="/diagrams/UseCase.js")