extends layout

block content
	div(class="container")
		div(class="col-md-6 offset-md-3" id="page-error")
			span(id="sadly") :(
			h1 Oops!
			p(class="mb-0") A página requisitada não foi encontrada no nosso servidor.
			p Por favor, volte para a página inicial e tente novamente.