body {
    background-color:#fafafa;
}

header {
    background-color: #fff;
    box-shadow: 2px 2px 15px #f2f2f2;
    padding: 20px 0;
}

footer {
    background-color: #fff;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding: 30px 0px;
    text-align:center;
}

footer p {
    color:#9c9c9c;
}

.bold {
    font-weight: 500;
}

.btn-green {
    border:1px solid green;
}

a.navbar-brand {
    line-height: 0;
}

.navbar,
.navbar-brand {
    padding:0;
    margin-right: 2rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right:1rem;
}

.navbar-nav .nav-item {
    font-weight:500;
}

.navbar-nav .nav-item.active a {
    color:#007bff;
}

.wrapper {
    display:flex;
    flex-direction: row;
}

#nav-actions {
    width:10%;
    background-color: #484848;
}

#nav-actions button {
    background: transparent;
    border: 0;
    color: #9c9c9c;
    font-size: 25px;
    display: flex;
    margin: 0 auto;
    text-align: center;
    outline: none;
}

#nav-actions button.selected {
    color: yellow;
}

#board {
    background-color:#fff;
    width:95%;
}

h3.lighter {
    font-weight: lighter;
    color: #007bff;
}

.homepage p {
    font-weight:500;
    color:#949494;
}

.homepage h3.lighter.first {
    padding-top:75px;
}

.homepage h3.lighter.second {
    padding-top:90px;
}

.homepage h3.lighter.third {
    padding-top:40px;
}

#download-apk {
    background: transparent;
    padding: 15px 25px;
    display: table;
    border-radius: 5px;
    margin: 0 auto;
    color: #0057ff;
    border: 1px solid #e4e4e4;
    margin-top: 20px;
}

#download-apk:hover {
    background-color: #0057ff;
    color: #fff;
}

#page-error {
    padding:40px 0px;
}

#page-error span {
    color:#007bff;
}

#page-error span#sadly {
    font-size:100px;
}

.wrapper-logged {
    background-color:#0057ff;
    color:#fff;
    font-size: 13px;
    padding:15px 0;    
}

.wrapper-logged .navbar-light .navbar-nav .nav-link {
    color:#fff;
}