body {
    background-color:#fafafa;
}

header {
    background-color: #fff;
    box-shadow: 2px 2px 15px #e8f0ff;
    padding: 20px 0;
}

footer {
    background-color: #fff;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding: 30px 0px;
    text-align:center;
}

footer p {
    color:#9c9c9c;
}

ul.nav {
    border-top: 1px solid #ececec;
    padding-top: 18px;
    margin-top: 18px;
}

.nav li:first-of-type {
    margin-left:0;
}

.nav li {
    margin:0 15px;
}

.nav li.active a {
    color:#1875f0;
}

.nav li a {
    color: #b9b9b9;
    font-weight: 500;
    display: block;
}

.bold {
    font-weight: 500;
}

.btn-green {
    border:1px solid green;
}

.wrapper {
    display:flex;
    flex-direction: row;
}

#nav-actions {
    width:10%;
    background-color: #484848;
}

#nav-actions button {
    background: transparent;
    border: 0;
    color: #9c9c9c;
    font-size: 25px;
    display: flex;
    margin: 0 auto;
    text-align: center;
    outline: none;
}

#nav-actions button.selected {
    color: yellow;
}

#board {
    background-color:#fff;
    width:95%;
}

h3.lighter {
    font-weight: lighter;
    color: #007bff;
}