extends ../layout

block content
    div(class="container pt-4 pb-4")
        div(class="row")
            div(class="col-md-6")
                img(src="/images/about.png")
            div(class="col-md-6 mt-4")
                h3(class="lighter") Sobre a ferramenta
                p Sed scelerisque, nibh sit amet faucibus aliquet, augue magna fermentum nibh, at maximus turpis mi in lectus. Aliquam nec finibus nunc. Cras congue ante eget auctor hendrerit. Maecenas consequat interdum imperdiet.
                button(class="btn btn-primary") Registre-se!

        div(class="row")
            div(class="col-md-6")
                h3(class="lighter mt-4") Como ela funciona?
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at rutrum turpis, sit amet dignissim lectus. Praesent sed odio vestibulum, convallis augue eu, vestibulum orci. Nulla facilisi. Nam gravida venenatis eros nec viverra.
            div(class="col-md-6")
                img(src="/images/how-it-works.png")

        div(class="row")
            div(class="col-md-6")
                img(src="/images/about.png")
            div(class="col-md-6")
                h3(class="lighter mt-3") Por quê aprender os diagramas?
                p Sed scelerisque, nibh sit amet faucibus aliquet, augue magna fermentum nibh, at maximus turpis mi in lectus. Aliquam nec finibus nunc. Cras congue ante eget auctor hendrerit. Maecenas consequat interdum imperdiet.