extends ../layout

block content
    div(class="container pt-4 pb-4 homepage")
        div(class="row pt-4")
            div(class="col-md-6 text-center")
                img(src="/images/about.png")
            div(class="col-md-6")
                h3(class="lighter first") Sobre a ferramenta
                p Sed scelerisque, nibh sit amet faucibus aliquet, augue magna fermentum nibh, at maximus turpis mi in lectus. Aliquam nec finibus nunc. Cras congue ante eget auctor hendrerit. Maecenas consequat interdum imperdiet.

        div(class="row")
            div(class="col-md-6")
                h3(class="lighter second") Como ela funciona?
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at rutrum turpis, sit amet dignissim lectus. Praesent sed odio vestibulum, convallis augue eu, vestibulum orci. Nulla facilisi. Nam gravida venenatis eros nec viverra.
            div(class="col-md-6 text-center")
                img(src="/images/how-it-works.png")

        div(class="row")
            div(class="col-md-6 text-center")
                img(src="/images/why-learn-diagrams.png")
            div(class="col-md-6")
                h3(class="lighter third") Por quê aprender os diagramas?
                p Sed scelerisque, nibh sit amet faucibus aliquet, augue magna fermentum nibh, at maximus turpis mi in lectus. Aliquam nec finibus nunc. Cras congue ante eget auctor hendrerit. Maecenas consequat interdum imperdiet.