extends ../layout

block content
    div(class="container pt-4 pb-4 homepage")
        div(class="row pt-4")
            div(class="col-md-6 text-center")
                img(src="/images/about.png")
            div(class="col-md-6")
                h3(class="lighter first") Sobre a ferramenta
                p A ferramenta para auxílio no estudo de diagramas da UML (Unified Modeling Language) visa permitir a prática da construção dos diagramas que compõe este padrão utilizado pelo mercado, especificamente os diagramas de Classes e Casos de Uso. 

        div(class="row")
            div(class="col-md-6")
                h3(class="lighter second") Como ela funciona?
                p  Os usuários da ferramenta, tanto em sua versão Web, quanto na versão Android, poderão desenvolver os diagramas a partir de um dado problema e receberão feedback imediato sobre coerência do que foi desenvolvido.  Desse modo a ferramenta contribuirá com o aprendizado da Engenharia de Software e por consequência a formação de melhores profissionais para o mercado de trabalho.
            div(class="col-md-6 text-center")
                img(src="/images/how-it-works.png")

        div(class="row")
            div(class="col-md-6 text-center")
                img(src="/images/why-learn-diagrams.png")
            div(class="col-md-6")
                h3(class="lighter third") Por quê aprender os diagramas?
                p Os estudantes de Engenharia de software possuem dificuldade no aprendizado da modelagem de diagramas da UML, uma vez que é necessário a prática com casos de uso reais para a real fixação deste conhecimento.  A ferramenta vem para auxiliar nesse aprendizado.