extends ../layout

block content
    div(class="container pt-4 pb-4")
        div(class="row")
            div(class="col-md-6")
                p Inserir imagem aqui!
            div(class="col-md-6")
                h3 Sobre a ferramenta
                p Sed scelerisque, nibh sit amet faucibus aliquet, augue magna fermentum nibh, at maximus turpis mi in lectus. Aliquam nec finibus nunc. Cras congue ante eget auctor hendrerit. Maecenas consequat interdum imperdiet. Sed ornare, dolor nec hendrerit suscipit, ligula lorem dignissim metus, sit amet porta est ipsum vitae metus. Nam condimentum mauris quis justo dictum, sit amet finibus quam fringilla. Nulla vulputate pretium justo, vel commodo turpis iaculis maximus. Etiam in nulla ante. Suspendisse potenti. Praesent fermentum pellentesque nunc at tincidunt.

        div(class="row")
            div(class="col-md-6")
                h3 Como ela funciona?
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at rutrum turpis, sit amet dignissim lectus. Praesent sed odio vestibulum, convallis augue eu, vestibulum orci. Nulla facilisi. Nam gravida venenatis eros nec viverra. Proin sit amet libero sit amet ante ullamcorper pulvinar. Sed quis lacinia leo, eget mattis quam. Vestibulum placerat vel massa at luctus. Quisque dignissim ut metus at bibendum.
            div(class="col-md-6")
                p Inserir imagem aqui!

        div(class="row")
            div(class="col-md-6")
                p Inserir imagem aqui!
            div(class="col-md-6")
                h3 Por quê aprender os diagramas?
                p Sed scelerisque, nibh sit amet faucibus aliquet, augue magna fermentum nibh, at maximus turpis mi in lectus. Aliquam nec finibus nunc. Cras congue ante eget auctor hendrerit. Maecenas consequat interdum imperdiet. Sed ornare, dolor nec hendrerit suscipit, ligula lorem dignissim metus, sit amet porta est ipsum vitae metus. Nam condimentum mauris quis justo dictum, sit amet finibus quam fringilla. Nulla vulputate pretium justo, vel commodo turpis iaculis maximus. Etiam in nulla ante. Suspendisse potenti. Praesent fermentum pellentesque nunc at tincidunt.