extends ../layout

block content
    div(class="container")
        h3(class="lighter mt-4") Cadastrar caso de uso

        input(type="hidden" name="author" value="#{author}")
        input(type="hidden" name="type" value="#{type}")

        div(class="form-group")
            label Título:
            input(type="text", class="form-control",name="title", placeholder="Digite o título...", required)

        div(class="form-group")
            label Descrição:
            textarea(class="form-control" name="description" placeholder="Digite aqui a descrição...")

    div(class="wrapper")
        div(id="nav-actions")
            button(id="pointer" onclick="changeAction('pointer')")
                img(src="/svg/cursor.svg")

            button(id="actor" onclick="changeAction('actor')")
                img(src="/svg/actor.svg")

            button(id="usecase" onclick="changeAction('usecase')")
                img(src="/svg/case.svg")

            button(id="association" onclick="changeAction('association')")
                img(src="/svg/arrow.svg")

            button(id="annotation" onclick="changeAction('annotation')")
                img(src="/svg/annotation.svg")

            button(id="include" onclick="changeAction('include')")
                img(src="/svg/include.svg")

            button(id="extend" onclick="changeAction('extend')")
                img(src="/svg/extend.svg")

        div(id="board" class="bordered")

    div(class="container")
        button(type="submit", class="btn btn-sm btn-primary" onclick="inserirDiagrama()") Cadastrar

block scripts
    script(src="/js/jquery.min.js")
    script(src="/p5js/p5.min.js")
    script(src="/diagrams/sketch.js")
    script(src="/diagrams/Actor.js")
    script(src="/diagrams/Annotation.js")
    script(src="/diagrams/Association.js")
    script(src="/diagrams/Extend.js")
    script(src="/diagrams/Generalization.js")
    script(src="/diagrams/Include.js")
    script(src="/diagrams/Sys.js")
    script(src="/diagrams/UseCase.js")